# Strava OAuth Configuration
STRAVA_CLIENT_ID=your_client_id_here
STRAVA_CLIENT_SECRET=your_client_secret_here
STRAVA_REDIRECT_URI=your_callback_url_here

#Strava Webhook Key
# Generate with: openssl rand -hex 32
STRAVA_WEBHOOK_VERIFY_TOKEN=your_random_verify_token_here

# Session Key
# Generate with: openssl rand -hex 32
SESSION_SECRET=your_random_verify_token_here

#OpenWeather API Key
OPENWEATHER_API_KEY=your_openweather_api_key_here

# Neon PostgreSQL Database
# Get your connection string from https://console.neon.tech
DATABASE_URL=postgresql://user:password@ep-xxx.us-east-2.aws.neon.tech/nexpr?sslmode=require